<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.univ_lyon1.lifemapcom" ios-CFBundleVersion="1.0.0" version="2.0">
    <name>Lifemap</name>
    <description>
	Lifemap is a tool to explore the tree of life in an interactive manner, similar to the explotation of geographic maps. The tree displayed is a simplification of the taxonomy provided by the NCBI. The tree contains around 800,000 species. Each node (incl. species) in the tree can be clicked to get information and pictures retrieved from Wikipedia. It is also possible to compute and visualize the "route" between two taxa or clades in the tree. 
    </description>
    <author email="damien.de-vienne@univ-lyon1.fr" href="https://lbbe.univ-lyon1.fr/-de-Vienne-Damien-.html">
        Dr. Damien de Vienne 
    </author>
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <allow-navigation href="http://umr5558-treezoom/*" />
    <allow-navigation href="http://umr5558-ncbitreezoom/*" />
    <platform name="android">
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
        <splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi"/>
        <splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi"/>
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>

        <icon src="res/icon/android/drawable-ldpi-icon.png" density="ldpi" />
        <icon src="res/icon/android/drawable-mdpi-icon.png" density="mdpi" />
        <icon src="res/icon/android/drawable-hdpi-icon.png" density="hdpi" />
        <icon src="res/icon/android/drawable-xhdpi-icon.png" density="xhdpi" />
        <icon src="res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi" />
        <icon src="res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
